html,
body {
    background-color: #D3D3D3;
}

header {
    margin: 40px 0 50px 100px;
    /* width: 50%; */
}

.header__logo a {
    color: blue;
    font-size: 26px;
    display: inline-block;
    margin-left: 25px;
}