html,
body {
    height: 80%;
    background-color: #D3D3D3;
}

.form-done__content {
    background-color: #fff;
    text-align: center;
    padding: 50px 60px;
    margin: 0 auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px #808080;
    width: 30%;
}

.form-done__text p {
    font-size: 20px;
}

.form-done__button a {
    text-decoration: none;
    margin-top: 15px;
    padding: 5px 20px;
    border: none;
    background-color: blue;
    color: #fff;
}