/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
ib_116384_0.dblwr
binlog.000002
binlog.000003
binlog.index
ib_logfile0
ibdate1
ibtmp1
mysql.ibd
undo_001
undo_002
temp_1.ibt
temp_2.ibt
temp_3.ibt
temp_4.ibt
temp_5.ibt
temp_6.ibt
temp_7.ibt
temp_8.ibt
temp_9.ibt
temp_10.ibt
failed_jobs.ibd
favorites.ibd

